{% extends "layout.html" %}

{% block content%}

<div class="normativaContenedor fondoNegro">
    <h1 class = "page-header" >Normativa de la Clasificación</h1>
<ol>
    <li> 45 días de competición</li>
    <li> Cuentas lvl 1 sin tft jugado</li>
    <li> No está permitido el wintrade</li>
    <li> Prohibido cambiar el nombre a la cuenta</li>
    <li> Las cuentas las proporcionaréis vosotros</li>
    <li> La competición comienza el 29 de Abril a las 21:00</li>
    <li> Se debe proporcionar la entrada de la competición para poder optar a premio. <a class="linkBackground" href="https://paypal.me/pools/c/8yOBnvcUyf">Fondo Común</a> </l1>
    <li> Actualmente el Primer puesto se llevará 20 euros, el Segundo puesto 10 euros y Tercer puesto 5 euros</li>
    <li> Para cualquier otra información contactad a Marce</li>
      

</ol>

</div>


{% endblock%}