body{
    background: url("../images/amumu.jpg") center center fixed no-repeat; 
    background-repeat:no-repeat;
    background-size: cover;
}
.opacity{
        opacity: 0.9;
}
.page-header{
    margin-bottom: 20px;
    color: white;
}

.navbarFixed{
    overflow: hidden;
    top:0;
    position: fixed;
}

.contenedorPrincipal{
    display:block;
}

.centradocentral{
    display:flex;
    flex-direction: column;
    align-items: center;
}

aside{
    display:flex;
    justify-content: space-around;
}

.discord{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

.updateSummon{
    color:#67ff4d I !important;
}

.flexActualizar{
    display:flex;
    align-items: center;
}

.backgroundultimavez{
    background-color: #0000009b;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    opacity: 0.9;
    font-size: 12px;
    border-radius: 10px;
}

.temporizadorBackground{
	background-color: #000000b6;
    padding:10px;
    padding-bottom: 0px;
    float:right;
    margin-left: 10px;
}

.cAccounts{
    display:flex;
    border: 1px solid #000000;
    background-color: white;
    border-top-right-radius: 15px;
    z-index: 1;
    margin-bottom: 15px;
}

.actividad{
    width:1%;
    background-color: #4e4e4e;
}

.position{
    width: 4%;
    margin-left: 10px;
}

.name{
    width: 25%;
    margin-left: 10px;
    margin-right:10px;
}

.liga{
    width: 30%;
}

.ptotal{
    width: 6%;
}

.tituloBlanco{
    color:aliceblue;
    margin-bottom: 10px;
}

.tituloConBoton{
    display:flex;
    align-items: center;
    justify-content: center;
}

.derecha{
    margin-left: auto;
}

.busqueda{
    display:flex;
}

.textoBlanco{
    color: #ffffff;
}

.normativaContenedor{
    color:#ffffff;
    font-size: 20px;
}

.linkBackground{
    background-color: #ffffff;
}

.fondoNegro{
    background-color: #000000;
    opacity: 0.9;
    padding: 10px;
}

@media (max-width:1200px){
    h3{
        font-size: 15px;
    }
    h4{
        font-size: 13px;
    }
    .contenedorPrincipal{
        display:block;
    }
    
    aside{
        flex-direction: column-reverse;
    }

    .discord{
        width: 100%;
        margin-bottom: 10px;
    }

    .temporizadorBackground{
        width: 100%;
        margin-left: 0px;
    }

}

